* {
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #111;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
    margin: 2px;
    border-radius: 2px;
}
.square:hover {
    transition-duration: 0s;
}
